PORT =
NODE_ENV=
URL_REACT= 
CORS_ORIGINS=
DB_HOST = 
DB_PORT = 
DB_USER = 
DB_PASS = 
DB_NAME = 
DB_TIMEZONE=

EMAIL_APP_PASSWORD= 
EMAIL_APP = 

SPEEDSMS_ACCESS_TOKEN=
SPEEDSMS_SMS_TYPE=5
SPEEDSMS_SENDER=

JWT_SECRET =  

ZEGO_APP_ID = 
ZEGO_SERVER_SECRET = 
